CONFIG_MQTT_LWT_TOPIC="test/solar-controller/connected"
CONFIG_MQTT_SOLAR_VALUE_TOPIC="test/solar-controller/status/solar/%s"
CONFIG_MQTT_COMMAND_TOPIC="test/solar-controller/command"
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_SC_1WIRE_GPIO=4
CONFIG_SC_SAMPLE_PERIOD=1
CONFIG_SC_PANEL_PUMP_GPIO=19
CONFIG_SC_FLOOR_HEATING_PUMP_GPIO=21
CONFIG_SC_FROST_PROTECTION_TEMP_LOW=16
CONFIG_SC_FROST_PROTECTION_TEMP_HIGH=18
CONFIG_SC_PANEL_DELTA_TEMP_LOW=2
CONFIG_SC_PANEL_DELTA_TEMP_HIGH=3
CONFIG_SC_FLOOR_HEATING_DELTA_TEMP_LOW=2
CONFIG_SC_FLOOR_HEATING_DELTA_TEMP_HIGH=3
